<div class="main-page">

  <div class="welcome">
    <h1>
      Welcome to myFlix!
    </h1>
  </div>

  <div class="position">
    <button mat-raised-button Adding the click event on the signup button (click)="openUserRegistrationDialog()"
      style="margin-right: 10px;" color="primary">
      Sign Up
    </button>
    <button mat-raised-button Adding the click event on the login button (click)="openUserLoginDialog()"
      style="margin-right: 10px;" color="primary">
      Login
    </button>
   
  </div>

</div>