.welcome{
  height: 10%;
  width: 100%;
  // max-width: 1050px;
  // color: aqua;
  background-color: rgb(14, 230, 238);
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  text-align: center;
}
.moviecard{
  // max-width: 300px; 
  // max-height: 200px;
  justify-content: center; 
  margin: 25px;
  object-fit: cover; 
  display: flex;
  border-radius: 10px;
  width: auto;

}
.movie-image {
  width: 200px;
  height: 300px;
  object-fit: cover;
}
