<div class="welcome">
  <button mat-raised-button Adding the click event on the profile button (click)="goToUserProfile()"
    style="margin-right: 10px;" color="primary">
    profile
  </button>
</div>

<div style="display: flex;" class="moviecard">
  <mat-card *ngFor="let movie of movies;" style="flex: 1 1 250px; ">

    <mat-card-header>
      <mat-card-title>{{movie.Title}}</mat-card-title>
      <mat-card-subtitle>Directed by={{movie.Director.Name}}</mat-card-subtitle>
    </mat-card-header>

    <img src={{movie.ImageUrl}} alt={{movie.Title}} class="movie-image" />

    <mat-card-actions>
      <button mat-button color="primary" (click)="showGenreAlert(movie.Genre.Description)">
        Genre
      </button>
      <button mat-button color="primary" (click)="showDirectorAlert(movie.Director.Bio)">
        Director
      </button>
      <button mat-button color="primary" (click)="showMovieDetails(movie.Description)">
        Synopsis
      </button>
      <mat-icon>favorite_border</mat-icon>
    </mat-card-actions>
  </mat-card>
</div>