<div class="welcome">



  <div class="profile-container">
    <h2>User Profile</h2>
  </div>

</div>

<div class="position">
  <button mat-raised-button class="btn logout-btn" (click)="goToWelcome()" color="primary">Logout</button>
  <button mat-raised-button class="btn all-movies-btn" (click)="goToAllMovies()" color="accent">All Movies</button>
  <button mat-raised-button class="btn delete-btn" (click)="deleteUser()" color="warn">Delete User</button>
</div>




<!-- Display user profile data -->
<div class="profile-info">
  <mat-card *ngIf="users;">



    <p>User Name:
      <mat-card-title>{{ users.userName }}</mat-card-title>
    </p><br>

    <p>Email:
      <mat-card-subtitle>{{ users.Email }}</mat-card-subtitle>
    </p><br>

    <p>Password:
      <mat-card-subtitle>{{ users.password }}</mat-card-subtitle>
    </p><br>


    <p>Birth Date: {{ users.birthDate | date }}</p>

  </mat-card><br>
</div>


<!-- <p><strong>Name:</strong> {{ users.userName }}</p>
  <p><strong>Email:</strong> {{ users.Email }}</p>
  <p><strong>Password:</strong> {{ users.password }}</p>
  <p><strong>Birthday:</strong> {{ users.birthDate }}</p> -->


<div class="fb">
  <button class="btn" mat-raised-button (click)="getUserDetails(users)" color="primary">Update User details</button>

</div>